.input_info{
	background-color:#6D8E9D;
	border: none;
	width: 30px;
}

.input_success{
	background-color:#AEC4CF ;
	border: none;	
	width: 30px;
}

.input_danger{
	background-color: #E64A4A;
	border: none;
	width: 30px;
}

.input_active{
	background-color:#B8B8B8;
	visibility: hidden;
	border:none;
	width: 30px;
}

.input_media{
	border-color: #AEC4CF;
}


#calculoMedia{
	display: inline-block;
	margin-right: 10px;
}

#borda_abas{
	width: 1225px;
	height: 1280px;
	border: 1px solid #008ACC;
	margin: 14px 0px 0px 33px;
}

#rowAluno >tbody>tr>td{
	color: white;
}


.btnAv{
	width="30px"; 
	height="30px";
	background="#dddddd";
}

a.tooltips {
    position: relative;
    display: inline;
}

a.tooltips span{
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #000000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}
a.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
a.tooltips span {
    visibility: visible;
    opacity: 1;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}

a.tooltips span> input{
    height: 30px;
    width: 40px;
    color: #FFFFFF;
    background: #000000;
    text-align: center;
    border-color: transparent;
}

input[type="text"]:readonly {
     background: #dddddd;
 } 
