/*css da equipe de plano de aula*/

.table th {
	background-color: #008BCA;
	color:white;
}

.table td {
	color: #1E657F;
}

.table-bordered {
	border: 2px solid #1E657F;
	color: #1E657F;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th,
.table-striped > tbody > tr:nth-child(odd) > td > .table-text {
  background-color: #A0D6F5;
}

.form-control {
	height: 27px;
}

.checkbox {
	border: 1px solid #1E657F;
	margin-left: auto;
	margin-right: auto;
}

.table {
	width: 1120px;
	margin-left: -10px;
}

#planoaula-exportar-list {
	list-style-type: none;
}

#planoaula-exportar-list > * {
	padding: 5px;
}

.table-text {
	width:100%;
	border: 0px;
	color: #1E657F;
	text-align: center;
}

select {
	border: 1px solid #26627F;
	background: transparent;
	color: #1E657F;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#btnCancelar a, #btnConfirmar a{
	border: 1px solid #26627F;
	text-decoration:none;
	background: transparent;
	padding:2px;
	color: #1E657F;
	margin:10px;
}

/*
#tabHeader_4 {
	margin-left:812px;
	height:40px;
}

#tabHeader_4 a{
    text-decoration: none;
    color: #FFFFFF;
}

#tabHeader_4 h4{
	font-size: 1em;
}
*/

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-plus:before {
  content: "\2b";
}

.modelDialog {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modelDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modelDialog > div {
    position: relative;
    margin: 10% auto;
    margin-left: 40%;
    padding: 5px 20px 13px 20px;
    background: #ffffff;
    border: 2px solid #1E657F;
    color: #1E657F;
}

.close {
    background: #1E657F;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}


.close:hover { background: #00d9ff; }

#btn-exportar {
  margin-top: -60px;
  background: #008ACC;
  padding:6px 40px;
}

#btn-exportar a {
  text-decoration: none;
  color: white;
}