#tblFrequencia >tbody>tr>td{
	font-family: sans-serif;
	color:white;
}

#tblFrequencia_head td{
	background-color: #10455E;
	color: white;
	text-align: center;
}

/*estilização da cor da tabela_frequencia*/
#tabela_frequencia tbody tr:nth-child(odd){
   background-color: #AEC4CF;
}

#tabela_frequencia tbody tr:nth-child(even){
   background-color: #6D8E9D;
}

#div_tempos {
	margin-right: 1em;
	margin-left: 3px;
	text-align: center;
}